<div class="my-overlay" *ngIf="showOverlay">
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true" style="position: relative;">
    <p class="title-letter" > Chargement... </p>
  </ngx-spinner>
</div>

<div class="scroll-count"  style="position: relative; overflow-x: hidden; overflow-y: hidden;">

     <!--================ Image Leaf =================-->
     <div class="about-background-leaf-bottom" data-aos="fade-up-right">
        <img class="img-leaf-bottom" src="assets/images/pages/about/leaf_bottom.png">
    </div>
    <!--================ End Image Leaf =================-->

    <section class="pt-lg-5 mb-lg-3 d-none d-md-block" style="position: relative;">
        
         <!--================ Image Leaf =================-->
         <div class="about-background-leaf-top" data-aos="fade-down-left">
            <img class="img-leaf-top" src="assets/images/pages/about/leaf_top.png">
        </div>
        <!--================ End Image Leaf =================-->
        
        <!--Grid row-->
        <div class="row">
            <div class="col-md-12">
            <!--Featured image-->
                    
                <mdb-card class="z-depth-2">

                    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                        <mdb-card-img src="assets/images/pages/about/background.png" alt="Wide sample post image"></mdb-card-img>
                        <a><div class="mask rgba-white-slight"></div></a>
                    </div>
                    

                </mdb-card>

            </div>
        </div>
        <!--Grid row-->

        <div class="about-content z-depth-3"
            fxLayout="row"
            fxLayoutAlign="space-between center"
            fxLayoutGap="10px">

            <div fxFlex="55" class="mx-3" data-aos="flip-up">

                <img class="img-fluid" src="assets/images/pages/about/asian_logo.png">

                
            </div>
            
            <div class="my-4 mx-4" fxFlex="45">

                <p class="text-center article__content">Dans toute culture, cuisiner, transmettre sa passion culinaire ou réunir à sa table a toujours 
                    été une sincère et véritable démonstration de passion voire... d’amour.
                    Inspiré de cette réalité ancestrale, ASIAN & CARAÏBES vous a ouvert ses portes à Nantes en 2005.</p>

                <p class="text-center article__content">Soigneusement testées et approuvées, nos larges gamme de délices culinaires, d’arts de la table, 
                    de décoration et de cosmétique tendent vers un seul but : la démocratisation et l’authenticité 
                    des saveurs d’ailleurs.</p>
                    
                <p class="text-center article__content">Aussi nombreuses soient-elles, chaque saveur proposée par A&C n’est qu’un grain de riz dans une
                immense rizière de richesses gustatives à explorer. Leur préservation et leur renouvellement sont 
                primordiaux tel un patrimoine commun à transmettre aux futures générations gastronomes.</p>

                <p class="text-center article__content">Ainsi, je vous souhaite quotidiennement : bon appétit, heureuses découvertes culinaires, grandes 
                et nombreuses tablées autour de festins réunissant les maîtres du pluralisme gastronomique !</p>  
                
            </div>
            

        </div>  
       
    </section>

    <!--================ Image Leaf =================-->
    <div class="about-background-leaf-top-mobile d-block d-md-none" data-aos="fade-down-left">
        <img class="img-leaf-top" src="assets/images/pages/about/leaf_top.png">
    </div>
    <!--================ End Image Leaf =================-->

    <div class="container mt-5 d-block d-md-none">

        <!--Rotating card-->
        <div class="col-md-4" data-aos="zoom-in">
            <mdb-flipping-card  #cards>
            <!--Front Side-->
            <div class="face front tp-box_side tp-box_front" style="position: relative;">
        
                <div class="about-logo-avatar">
                    <img src="assets/images/pages/home/asian_main_flags_logo.png" alt="" class="jumbotron_flags_logo">

                    <img src="assets/images/pages/home/asian_main_logo.png" alt="" class="jumbotron_logo" >
                </div>

                <!-- Image-->
                <div class="card-up">
                    <img src="assets/images/pages/about/background.png" class="img-fluid">
                </div>
                <!--Avatar-->
                <img src="assets/images/pages/about/asian_brand.png" class="img-responsive pb-3 pt-n5 mt-n5">

                <!--Content-->
                <div class="card-body pt-n4 mt-n5">

                <div class="text-center d-block d-lg-none mb-1 about-title-letter pb-3"><span class="asian-letter" style="font-size:large">S</span><span style="font-size:medium;">PÉCIALITÉS du </span><span class="asian-letter" style="font-size:large">M</span><span style="font-size:medium;">ONDE</span></div>

                <!--Triggering button-->
                <a class="rotate-btn about-button-card" data-card="card-1" (click)="cards.toggle()">
                    <mdb-icon fas icon="redo"></mdb-icon> Cliquez ici pour plus d’information</a>
                </div>
            </div>
            <!--/.Front Side-->
        
            <!--Back Side-->
            <div class="back tp-box_side tp-box_back">
        
                <!--Content-->
                <h4>Qui sommes-nous</h4>
                
                <hr>
                <p class="text-center article__content">Dans toute culture, cuisiner, transmettre sa passion culinaire ou réunir à sa table a toujours 
                    été une sincère et véritable démonstration de passion voire... d’amour.
                    Inspiré de cette réalité ancestrale, ASIAN & CARAÏBES vous a ouvert ses portes à Nantes en 2005.</p>
                <p class="text-center article__content">Soigneusement testées et approuvées, nos larges gamme de délices culinaires, d’arts de la table, 
                    de décoration et de cosmétique tendent vers un seul but : la démocratisation et l’authenticité 
                    des saveurs d’ailleurs.</p>
                    
                <p class="text-center article__content">Aussi nombreuses soient-elles, chaque saveur proposée par A&C n’est qu’un grain de riz dans une
                immense rizière de richesses gustatives à explorer. Leur préservation et leur renouvellement sont 
                primordiaux tel un patrimoine commun à transmettre aux futures générations gastronomes.</p>

                <p class="text-center article__content">Ainsi, je vous souhaite quotidiennement : bon appétit, heureuses découvertes culinaires, grandes 
                et nombreuses tablées autour de festins réunissant les maîtres du pluralisme gastronomique !</p>  
                
                <!--Triggering button-->
                <a class="rotate-btn about-button-card" data-card="card-1" (click)="cards.toggle()">
                <mdb-icon fas icon="undo"></mdb-icon> Cliquez ici pour retourner</a>
        
            </div>
            <!--/.Back Side-->
            </mdb-flipping-card>
        </div>
        <!--/.Rotating card-->  

    </div>
     
    
    

    <!--Section: Content-->
    <section class="dark-grey-text p-5 about-section">
    
        <!-- Section heading -->
        <div class="text-center">
            <h2 class="font-weight-bold">NOTRE GAMME DE <span style="color: #F6AD47;">PRODUITS</span></h2>
            <div class="webflow d-flex justify-content-center">
              <div class="title-divider"></div>
            </div>
        </div>
        <!-- Section description -->
        <p class="text-center lead grey-text mx-auto mb-5">Chez ASIAN &amp; CARAÏBES, nous prenons soin de la qualité et de la variété avec une gamme de produits du monde entier</p>
    
        <div class="container">

          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-4">
      
              <div class="row d-flex justify-content-center">

                <!--================ Asie Row =================-->
                <!-- Grid row -->
                <div class="col-5 col-md-8 row mb-4 wow fadeInLeft d-none d-md-block">
        
                  <!-- Grid column -->
                  <div class="text-center">
                    <h3 class="font-weight-bold mb-3">Asie</h3>
                    <p class="grey-text">Japon, Chine, Corée, Thaïlande, Philippines, Viêtnam, Cambodgia, Indonesia</p>
                  </div>
                  <!-- Grid column -->
        
                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="col-5 col-md-8 row mb-3 mr-3 wow fadeInLeft d-block d-md-none">
        
                  <!-- Grid column -->
                  <div class="text-center">
                    <h3 class="font-weight-bold mb-3">Asie</h3>
                    <p class="grey-text">Japon, Chine, Corée, Thaïlande, Philippines, Viêtnam, Cambodgia, Indonesia</p>
                  </div>
                  <!-- Grid column -->
        
                </div>
                <!-- Grid row -->
                <!--================ End Asie Row =================-->
        
                <!--================ Africa Row =================-->
                <!-- Grid row -->
                <div class="col-5 col-md-8 row wow fadeInLeft d-none d-md-block">
        
                  <!-- Grid column -->
                  <div class="text-center">
                    <h3 class="font-weight-bold mb-3">Afrique</h3>
                    <p class="grey-text">Madagascar, Maurice, Reunion, et plus.</p>
                  </div>
                  <!-- Grid column -->
        
                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="col-5 col-md-8 row ml-3 wow fadeInRight d-block d-md-none">
        
                  <!-- Grid column -->
                  <div class="text-center">
                    <h3 class="font-weight-bold mb-3">Afrique</h3>
                    <p class="grey-text">Malgache, Maurice, Reunion, et plus.</p>
                  </div>
                  <!-- Grid column -->
        
                </div>
                <!-- Grid row -->
                <!--================ End Africa Row =================-->

              </div>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-4">
              
              <!-- Grid row -->
              <div class="row mb-3 d-flex justify-content-center">

                <!--================ India and World Row =================-->
                <div class="col-9 col-sm-7 col-md-12 col-lg-10">
                  <!-- Grid column -->
                  <div class="text-center wow fadeIn">
                    <h3 class="font-weight-bold mb-4">Inde</h3>
                    <img class="img-fluid" src="assets/images/pages/about/map.png" alt="Spices World">

                  </div>
                  <!-- Grid column -->

                </div>
                <!--================ End India and World Row =================-->

              </div>
              <!-- Grid row -->
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-4">
      
              <div class="row d-flex justify-content-center">

                <!--================ Caraibes Row =================-->
                <!-- Grid row -->
                <div class="col-5 col-md-8 row mb-5 wow fadeInRight d-none d-md-block">
        
                  <!-- Grid column -->
                  <div class="text-center">
                    <h3 class="font-weight-bold mb-3">Caraibes</h3>
                    <p class="grey-text">Guadeloupe, Antilles, Jamaïque, Haïti...</p>
                  </div>
                  <!-- Grid column -->
        
                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="col-5 col-md-8 row mr-3 wow fadeInLeft d-block d-md-none">
        
                  <!-- Grid column -->
                  <div class="text-center">
                    <h3 class="font-weight-bold mb-3">Caraibes</h3>
                    <p class="grey-text">Guadeloupe, Antilles, Jamaïque, Haïti...</p>
                  </div>
                  <!-- Grid column -->
        
                </div>
                <!-- Grid row -->
                <!--================ End Caraibes Row =================-->
        
                <!--================ America Row =================-->
                <!-- Grid row -->
                <div class="col-5 col-md-8 row mb-3 wow fadeInRight d-none d-md-block">
        
                  <!-- Grid column -->
                  <div class="text-center">
                    <h3 class="font-weight-bold mb-3">Amérique</h3>
                    <p class="grey-text mb-md-0">Colombie, Mexique. Costa Rica, Équateur</p>
                  </div>
                  <!-- Grid column -->
        
                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="col-5 col-md-8 row ml-3 wow fadeInRight d-block d-md-none">
        
                  <!-- Grid column -->
                  <div class="text-center">
                    <h3 class="font-weight-bold mb-3">Amérique</h3>
                    <p class="grey-text mb-md-0">Colombie, Mexique. Costa Rica, Équateur</p>
                  </div>
                  <!-- Grid column -->
        
                </div>
                <!-- Grid row -->
                <!--================ End America Row =================-->

              </div>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->

        </div>

        <div class="text-center scroll-count">

          <div class="webflow d-flex justify-content-center">
              <div class="title-divider"></div>
          </div>
          
          <!-- Title -->
          <h4 class="card-title pt-3 font-weight-bold">Découvrez, explorez et surprenez</h4>

        </div>
        

      </section>
      <!--Section: Content-->
    <!--================ End Features from Countries =================-->

   
    <!--================ Page Footer =================-->
    <div class="page-footer pt-5" > 

        <div class="button-back">
            <a type="button" class="btn-floating" (click)="onTop()" data-aos="zoom-in" style="background-color: #F6AD47 !important;"><i class="fas fa-arrow-up" aria-hidden="true"></i></a>
        </div>
  
        <div class="division" fxHide.lt-md></div>
  
        <div fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="space-around center">
            <div fxLayout="column" fxLayoutAlign="center center" class="mb-4">
                <div><h5 class="text-uppercase font-weight-bold" style="color: #F6AD47;">ASIAN & CARAÏBES</h5></div> 
                <div class="white-text">58 route de Vannes 44100 Nantes</div> 
                <div class="white-text">Tél : 02 40 89 24 21</div> 
                <div class="white-text">Mail : asianetcaraibes@gmail.com</div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="mb-4">
                <div><h5 class="text-uppercase font-weight-bold" style="color: #F6AD47;">HORAIRES</h5></div> 
                <div class="white-text">Du Mardi au Vendredi : 10h à 13h / 14h30 à 19h</div> 
                <div class="white-text">Le Samedi : 10h à 19h non stop</div> 
            </div>
        </div>
  
        <!-- Copyright -->
        <div class="text-center py-3 white-text" style="background-color: rgba(77, 75, 75, 0.980);">© 2020 Copyright :
          <a href="#"> <img src="assets/images/common/domory_logo.png" height="23"> </a>
        </div>
        <!-- Copyright -->
      
    </div>   
    <!--================ End Page Footer =================-->

    

</div>




