<div class="webflow">
  <div class="intro-2">
    <div class="full-bg-img">
      <div id="header-section" class="header-section">
        <div class="header-container">
          <div class="header-photo-container">
              <img src="assets/images/pages/home/asian_main_logo.png" alt="" class="jumbotron_logo" >
              <img src="assets/images/pages/home/asian_main_flags_logo.png" alt="" class="jumbotron_flags_logo">
          </div>
        </div>
        <div class="header-nav-menu-wrapper pt-1 pb-1">
          <div class="d-flex flex-row mr-auto">
            <div class="color-bullet align-self-center d-none d-lg-block"></div>
            <div class="d-none d-lg-block ml-3">
              <div class="d-flex flex-row pr-5">
                  <a href="https://www.facebook.com/asianetcaraibes/" target="_blank" class="btn-floating btn-md header-social-button" type="button" role="button"><i class="fab"><img class="button-fb"></i></a>
                  <a href= "https://www.instagram.com/asianetcaraibes/" target="_blank" class="btn-floating btn-md header-social-button" type="button" role="button"><i class="fab"><img class="button-inst"></i></a>
              </div>
            </div>
          </div>
          <div class="wow fadeIn" data-wow-delay="1s"> 
            <div class="text-center d-block d-lg-none mb-1 title-letter"><span class="asian-letter" style="font-size:large">S</span><span style="font-size:medium;">PÉCIALITÉS du </span><span class="asian-letter" style="font-size:large">M</span><span style="font-size:medium;">ONDE</span></div>
            <div class="text-center d-none d-lg-block title-letter" ><span class="asian-letter" style="font-size:xx-large">S</span><span style="font-size:x-large">PÉCIALITÉS du </span><span class="asian-letter" style="font-size:xx-large">M</span><span style="font-size:x-large;">ONDE</span></div>
          </div>
          <div class="d-flex flex-row ml-auto">
            <div class="d-none d-lg-block">
              <div class="d-none d-lg-block mr-3">
                <div class="d-flex flex-row">
                  <a href="mailto:asianetcaraibes@gmail.com" class="btn-floating btn-md header-social-button" type="button" role="button"><i class="fab"><img class="button-mail"></i></a>
                  <a href="contactez-nous.html#check_map" class="btn-floating btn-md header-social-button" type="button" role="button"><i class="fab"><img class="button-map"></i></a>
                  <a href="tel:024-089-2421" class="btn-floating btn-md header-social-button" type="button" role="button"><i class="fab"><img class="button-phone"></i></a>
                </div>
              </div>
            </div>
            <div class="color-bullet align-self-center d-none d-lg-block"></div>
          </div>
        </div>
      </div>   
    </div>
  </div>  
</div>
  
<div style="position: relative; overflow-x: hidden;">

  <div class="background-leaf-top" data-aos="fade-left" >
    <img src="assets/images/pages/home/banana_leaf_top_bg.png" class="img-fluid" alt="">
  </div>

  <div class="container">
  
    <!--================ Welcome of market =================-->
    <div class="row row-content d-flex justify-content-center pb-5 pt-5">  
  
      <div class="col-9">
        <!--Section: Content-->
        <section class="dark-grey-text text-center text-lg-left d-none d-lg-block" data-aos="zoom-out" data-aos-once="true" data-aos-duration="1400">
  
          <!--Grid row screen size-->
          <div class="row d-flex justify-content-end z-depth-3" style="background-color: white;background-image: url('assets/images/pages/home/about_store_bg.png'); background-position: left bottom;
          background-repeat: no-repeat; background-size:contain;">
          
            <!--Grid column-->
            <div class="col-6 col-lg-6">
    
              <h1 class="title h1 black-text pt-3">Supermarché Exotique</h1>
    
              <p class="article__content"><strong>Besoin d’un produit d’origine asiatique, créole ou africaine sur la région ?</strong><br><br>Découvrir notre boutique, c’est y trouver à travers une gamme de produits riches et élaborés toutes les épices pour mijoter vos plats favoris thaïlandais, vietnamiens, indiens, chinois ou japonais ainsi que d’autres parfums et saveurs des quatre coins du monde.<br>Vous serez accueillis par une équipe de professionnels discrets, mais à l’écoute de vos besoins.. </p>
    
            </div>
            <!--/.Grid column-->
          
          </div>
          <!--/.Grid row screen size-->
        
        </section>
        <!--/.Section: Content-->
  
        <!--Section: Content-->
        <div class="wow tada" data-wow-delay="2s" data-wow-duration="1s">
          <section class="dark-grey-text text-center text-lg-left d-block d-lg-none">
  
            <!--Grid row screen size-->
            <div class="row d-flex justify-content-end z-depth-3" style="background-color: white;">
            
              <!--Grid column-->
              <div class="col-12 pt-3 mb-3">
      
                <h4 class="card-title" style="border-bottom: 1px solid #F6AD47;
                padding-bottom: 2px;">Supermarché Exotique</h4>
      
                <p class="card-text">Découvrir notre boutique, c’est y trouver à travers une gamme de produits riches et élaborés toutes les épices pour mijoter vos plats favoris thaïlandais, vietnamiens, indiens, chinois ou japonais ainsi que d’autres parfums et saveurs des quatre coins du monde.</p>
      
              </div>
              <!--/.Grid column-->
            
            </div>
            <!--/.Grid row screen size-->
          
          </section>
          <!-- /.Section: Content-->
        </div>
        
      </div>
  
    </div>
    <!--================ End Welcome of market =================-->
  
    <!--================ Carousel Market =================-->
    <div class="row d-flex justify-content-center">
  
      <!-- Card Wider -->
      <div class="view card-cascade col-11" >
        
        <!-- Card image -->
        <div class="view view-cascade overlay z-depth-3">
          <!--Carousel images-->
          <div class="view view-cascade">
            <!--Carousel Wrapper-->
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
              <mdb-carousel-item>
                <img class="d-block w-100" src="assets/images/pages/home/asian_carousel_0.jpg" alt="First slide">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="assets/images/pages/home/asian_carousel_1.jpg" alt="Second slide">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="assets/images/pages/home/asian_carousel_2.jpg" alt="Third slide">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="assets/images/pages/home/asian_carousel_3.jpg" alt="Fourth slide">
              </mdb-carousel-item>
            </mdb-carousel>
            <!--/.Carousel Wrapper-->
          </div>
          
          <!--/.Carousel images-->
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/.Card image -->
  
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center mb-5 z-depth-2 scroll-count">
          <!-- Title -->
          <h4 class="card-title font-weight-bold">Découvrez, explorez et surprenez</h4>
          <!-- Text -->
          <p class="card-text">Découvrez et surprenez-vous avec les milliers de produits de différents pays que nous avons dans le magasin. </p>
      
          <div class="row d-flex justify-content-center">
  
            <div class="col-12 col-md-5 col-lg-4 text-center">
              <h4 class="h2 font-weight-normal mb-3">
                <i class="fas fa-boxes" style="color: #F6AD47;"></i> 
                +<span class="d-inline-block count-up" data-from="0" data-to="4000" data-time="4000">0</span>
              </h4>
              <p class="font-weight-normal text-muted">Produits</p>
            </div>
      
            <div class="col-12 col-md-5 col-lg-4 text-center">
              <h4 class="h2 font-weight-normal mb-3">
                <i class="fas fa-globe" style="color: #F6AD47;"></i>
                +<span class="d-inline-block count1" data-from="0" data-to="15" data-time="4000">0</span>
              </h4>
              <p class="font-weight-normal text-muted">Pays</p>
            </div>
      
          </div>
  
        </div>
        <!-- /.Card content -->
  
      </div>
      <!-- /.Card Wider -->
    </div>
    <!--================ End Carousel Market =================-->
  
    <!--================ Catalog Products =================-->
    <div class="d-flex flex-column mt-5">
  
      <!--Title Catalog Products-->
      <div class="text-center">
        <h2><strong>DÉCOUVRIR DES <span style="color: #F6AD47;">PRODUITS</span></strong></h2>
        <div class="webflow d-flex justify-content-center">
          <div class="title-divider"></div>
        </div>
      </div>
      <!--/.Title Catalog Product -->
  
      <!-- Categories -->
      <div class="flex-container">

        <!-- For lg and xl browsers-->
        <div class="d-none d-lg-block mb-2">
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <div class="flex-item" data-aos="zoom-in-right" data-aos-once="true">
              <div class="category">
                <img id="asian-bg" data-aos="zoom-in"  src="assets/images/pages/home/asia_bg.png"/>
                <img id="txt-top" src="assets/images/pages/home/asie_text.png"/>
                <div class="view overlay zoom" style="margin-top: 30px;">
                  <img src="assets/images/pages/home/asia_pic.png" class="img-fluid rounded-circle" alt="">
                  <div class="mask img-gradient flex-center waves-effect waves-light rounded-circle">        
                    <!-- <p class="white-text text_category">Découvrir</p> -->
                  </div>
                </div>
              </div> 
            </div>
            <div class="flex-item" data-aos="fade-up-right" data-aos-once="true">
              <div class="category">
                <img id="caribean-bg" data-aos="zoom-in-right" src="assets/images/pages/home/caribean_bg.png"/>
                <img id="txt-top" src="assets/images/pages/home/caraibes_text.png"/>
                <div class="view overlay zoom" style="margin-top: 30px;">
                  <img src="assets/images/pages/home/caraibe_pic.png" class="img-fluid rounded-circle" alt="">
                  <div class="mask img-gradient flex-center waves-effect waves-light rounded-circle">        
                    <!-- <p class="white-text text_category">Découvrir</p> -->
                  </div>
                </div>
              </div> 
            </div>
            <div class="flex-item"  data-aos="fade-up" data-aos-once="true">
              <div class="category">
                <img id="indian-bg" data-aos="zoom-in-up"  src="assets/images/pages/home/india_bg.png"/>
                <img id="txt-bottom" src="assets/images/pages/home/inde_text.png"/>
                <div class="view overlay zoom" style="margin-top: 30px;">
                  <img src="assets/images/pages/home/india_pic.png" class="img-fluid rounded-circle" alt="">
                  <div class="mask img-gradient flex-center waves-effect waves-light rounded-circle">        
                    <!-- <p class="white-text text_category">Découvrir</p> -->
                  </div>
                </div>
              </div> 
            </div>
            <div class="flex-item" data-aos="fade-up-left" data-aos-once="true">
              <div class="category">
                <img id="american-bg" data-aos="zoom-in-down" src="assets/images/pages/home/america_bg.png"/>
                <img id="txt-top" src="assets/images/pages/home/amerique_text.png"/>
                <div class="view overlay zoom" style="margin-top: 30px;">
                  <img src="assets/images/pages/home/america_pic.png" class="img-fluid rounded-circle" alt="">
                  <div class="mask img-gradient flex-center waves-effect waves-light rounded-circle">        
                    <!-- <p class="white-text text_category">Découvrir</p> -->
                  </div>
                </div>
              </div> 
            </div>
            <div class="flex-item" data-aos="zoom-in-left" data-aos-once="true">
              <div class="category">
                <img id="african-bg" data-aos="zoom-out-left" src="assets/images/pages/home/africa_bg.png"/>
                <img id="txt-top" src="assets/images/pages/home/afrique_text.png"/>
                <div class="view overlay zoom" style="margin-top: 30px;">
                  <img src="assets/images/pages/home/africa_pic.png" class="img-fluid rounded-circle" alt="">
                  <div class="mask img-gradient flex-center waves-effect waves-light rounded-circle">        
                    <!-- <p class="white-text text_category">Découvrir</p> -->
                  </div>
                </div>
              </div> 
            </div>  
          </div>
        </div>
        <!-- /.For lg and xl browsers-->

        <!-- For md browsers-->
        <div class="d-none d-sm-block d-lg-none mb-2">
          <div fxLayout="column" fxLayoutAlign=" none">
            <div class="flex-item">
              <div fxLayout="row" fxLayoutAlign="space-around center" >
                <div class="flex-item" data-aos="zoom-in-right" data-aos-once="true">
                  <div class="category">
                    <img id="asian-bg" data-aos="zoom-in"  src="assets/images/pages/home/asia_bg.png"/>
                    <img id="txt-top" src="assets/images/pages/home/asie_text.png"/>
                    <div class="view overlay zoom" style="margin-top: 30px;">
                      <img src="assets/images/pages/home/asia_pic.png" class="img-fluid rounded-circle" alt="">
                      <div class="mask img-gradient flex-center waves-effect waves-light rounded-circle">        
                        <!-- <p class="white-text text_category">Découvrir</p> -->
                      </div>
                    </div>
                  </div> 
                </div>
                <div class="flex-item"  data-aos="fade-up" data-aos-once="true">
                  <div class="category">
                    <img id="indian-bg" data-aos="zoom-in-up"  src="assets/images/pages/home/india_bg.png"/>
                    <img id="txt-bottom" src="assets/images/pages/home/inde_text.png"/>
                    <div class="view overlay zoom" style="margin-top: 30px;">
                      <img src="assets/images/pages/home/india_pic.png" class="img-fluid rounded-circle" alt="">
                      <div class="mask img-gradient flex-center waves-effect waves-light rounded-circle">        
                        <!-- <p class="white-text text_category">Découvrir</p> -->
                      </div>
                    </div>
                  </div> 
                </div>
                <div class="flex-item" data-aos="zoom-in-left" data-aos-once="true">
                  <div class="category">
                    <img id="caribean-bg" data-aos="zoom-in-right" src="assets/images/pages/home/caribean_bg.png"/>
                    <img id="txt-top" src="assets/images/pages/home/caraibes_text.png"/>
                    <div class="view overlay zoom" style="margin-top: 30px;">
                      <img src="assets/images/pages/home/caraibe_pic.png" class="img-fluid rounded-circle" alt="">
                      <div class="mask img-gradient flex-center waves-effect waves-light rounded-circle">        
                        <!-- <p class="white-text text_category">Découvrir</p> -->
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
            <div class="flex-item">
              <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <div class="flex-item" data-aos="fade-up-right" data-aos-once="true">
                  <div class="category">
                    <img id="american-bg" data-aos="zoom-in-down" src="assets/images/pages/home/america_bg.png"/>
                    <img id="txt-top" src="assets/images/pages/home/amerique_text.png"/>
                    <div class="view overlay zoom" style="margin-top: 30px;">
                      <img src="assets/images/pages/home/america_pic.png" class="img-fluid rounded-circle" alt="">
                      <div class="mask img-gradient flex-center waves-effect waves-light rounded-circle">        
                        <!-- <p class="white-text text_category">Découvrir</p> -->
                      </div>
                    </div>
                  </div> 
                </div>
                <div class="flex-item" data-aos="fade-up-left" data-aos-once="true">
                  <div class="category">
                    <img id="african-bg" data-aos="zoom-out-left" src="assets/images/pages/home/africa_bg.png"/>
                    <img id="txt-top" src="assets/images/pages/home/afrique_text.png"/>
                    <div class="view overlay zoom" style="margin-top: 30px;">
                      <img src="assets/images/pages/home/africa_pic.png" class="img-fluid rounded-circle" alt="">
                      <div class="mask img-gradient flex-center waves-effect waves-light rounded-circle">        
                        <!-- <p class="white-text text_category">Découvrir</p> -->
                      </div>
                    </div>
                  </div> 
                </div> 
              </div>
            </div>
          </div>
        </div>
        <!-- /.For md browsers-->

        <!-- For sm browsers-->
        <div class="d-block d-sm-none mb-2 pt-2">
          <div fxLayout="column" fxLayoutAlign=" none">
            <div class="flex-item">
              <div fxLayout="row" fxLayoutAlign="space-around center">
                <div class="flex-item" data-aos="zoom-in-right" data-aos-once="true">
                  <div class="category">
                    <img id="asian-bg" data-aos="zoom-in"  src="assets/images/pages/home/asia_bg.png"/>
                    <img id="txt-top" src="assets/images/pages/home/asie_text.png"/>
                    <div class="view overlay zoom" style="margin-top: 30px;">
                      <img src="assets/images/pages/home/asia_pic.png" class="img-fluid rounded-circle" alt="">
                      <div class="mask img-gradient flex-center waves-effect waves-light rounded-circle">        
                        <!-- <p class="white-text text_category">Découvrir</p> -->
                      </div>
                    </div>
                  </div> 
                </div>
                <div class="flex-item" data-aos="zoom-in-left" data-aos-once="true">
                  <div class="category">
                    <img id="caribean-bg" data-aos="zoom-in-right" src="assets/images/pages/home/caribean_bg.png"/>
                    <img id="txt-top" src="assets/images/pages/home/caraibes_text.png"/>
                    <div class="view overlay zoom" style="margin-top: 30px;">
                      <img src="assets/images/pages/home/caraibe_pic.png" class="img-fluid rounded-circle" alt="">
                      <div class="mask img-gradient flex-center waves-effect waves-light rounded-circle">        
                        <!-- <p class="white-text text_category">Découvrir</p> -->
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
            <div class="flex-item">
              <div fxLayout="row" fxLayoutAlign="space-around center">
                <div class="flex-item" data-aos="fade-up-right" data-aos-once="true">
                  <div class="category">
                    <img id="american-bg" data-aos="zoom-in-down" src="assets/images/pages/home/america_bg.png"/>
                    <img id="txt-top" src="assets/images/pages/home/amerique_text.png"/>
                    <div class="view overlay zoom" style="margin-top: 30px;">
                      <img src="assets/images/pages/home/america_pic.png" class="img-fluid rounded-circle" alt="">
                      <div class="mask img-gradient flex-center waves-effect waves-light rounded-circle">        
                        <!-- <p class="white-text text_category">Découvrir</p> -->
                      </div>
                    </div>
                  </div> 
                </div>
                <div class="flex-item" data-aos="fade-up-left" data-aos-once="true">
                  <div class="category">
                    <img id="african-bg" data-aos="zoom-out-left" src="assets/images/pages/home/africa_bg.png"/>
                    <img id="txt-top" src="assets/images/pages/home/afrique_text.png"/>
                    <div class="view overlay zoom" style="margin-top: 30px;">
                      <img src="assets/images/pages/home/africa_pic.png" class="img-fluid rounded-circle" alt="">
                      <div class="mask img-gradient flex-center waves-effect waves-light rounded-circle">        
                        <!-- <p class="white-text text_category">Découvrir</p> -->
                      </div>
                    </div>
                  </div> 
                </div> 
              </div>
            </div>
            <div class="flex-item">
              <div fxLayout="row" fxLayoutAlign="space-around center" >
                <div class="flex-item"  data-aos="fade-up" data-aos-once="true">
                  <div class="category">
                    <img id="indian-bg" data-aos="zoom-in-up"  src="assets/images/pages/home/india_bg.png"/>
                    <img id="txt-bottom" src="assets/images/pages/home/inde_text.png"/>
                    <div class="view overlay zoom" style="margin-top: 30px;">
                      <img src="assets/images/pages/home/india_pic.png" class="img-fluid rounded-circle" alt="">
                      <div class="mask img-gradient flex-center waves-effect waves-light rounded-circle">        
                        <!-- <p class="white-text text_category">Découvrir</p> -->
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.For sm browsers-->

      </div>
      <!--/.Categories -->
  
    </div>
    <!--================ End Catalog Products =================-->
  
  </div>

  <!--================ Description CEO =================-->
  <div class ="jumbotron" style="background: url(assets/images/pages/home/background_description.png) no-repeat center center; background-size: cover; position:relative; top:50px;">

      <!--================ Image Leaf =================-->
    <div class="background-leaf-bottom" data-aos="fade-up-right">
      <img class="img-leaf-bottom" src="assets/images/pages/home/banana_leaf_bottom_bg.png">
    </div>
    <!--================ End Image Leaf =================-->

    <div class="container pb-4">

      <div class="row d-flex justify-content-center">
        
        <div class="col-md-12 d-none d-lg-block">
          <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-8 col-md-10 col-sm-12 d-flex flex-column justify-content-between">
              <div class="container z-depth-5" style="background-color: #ffffff;">
                <section class=" text-center text-lg-left p-5">
                  <div>
                    <p class="font-weight-bold lead"><strong>Laïm Ear</strong></p>
                    <p class="font-weight-bold ">Responsable des achats</p>
                  </div>
                  <p class="text-muted">Fonder ma « Maison des spécialités du Monde », faire qu’elle soit aussi la vôtre,
                    vous y conseiller et vous y servir, confortent mon intime conviction : devenons de
                    véritables artisans d’échanges pluriculturels et ensemble, de fidèles ambassadeurs
                    du goût.</p>
                  <p class="text-muted">À l’instar des quartiers cosmopolites de la planète, A&amp;C offre sous un même toit la
                    possibilité de flâner, de déambuler à volonté dans ses ruelles de rayons semblables
                    à des échoppes exotiques aux enivrants mais subtils parfums...</p>
                  <p class="text-muted mb-4">Ainsi, je vous souhaite quotidiennement : bon appétit, heureuses découvertes
                    culinaires, grandes et nombreuses tablées autour de festins réunissant les maîtres
                    du pluralisme gastronomique!</p>
                  <a href="sommes-nous.html"><button class="btn btn-primary btn-rounded">Plus d’info</button></a>
                </section>
              </div>
            </div>
            <div class="col-7 col-lg-3 col-md-5 col-sm-6 d-flex align-items-center justify-content-center">
              <div class="avatar d-flex justify-content-center align-items-center wow rotateIn slow" style="background-image: url('../../../assets/images/pages/home/background_description_photo.png'); background-size: cover;">
                <img src="assets/images/pages/home/profile_laim.jpg" class="rounded-circle img-fluid p-4" alt="woman avatar">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 d-block d-lg-none">
          <div class="row d-flex justify-content-center">
            <div class="col-7 col-lg-4 col-md-5 col-sm-6 mb-3 d-flex align-items-center justify-content-center wow rotateIn slow">
              <div class="avatar d-flex justify-content-center align-items-center" style="background-image: url('../../../assets/images/pages/home/background_description_photo.png'); background-size: cover;">
                <img src="assets/images/pages/home/profile_laim.jpg" class="rounded-circle img-fluid p-4" alt="woman avatar">
              </div>
            </div>
            <div class="col-12 col-lg-6 col-md-10 col-sm-12 d-flex flex-column justify-content-between">
              <div class="container z-depth-5" style="background-color: #ffffff;">
                <section class=" text-center text-lg-left p-5">
                  <div>
                    <p class="font-weight-bold lead"><strong>Laïm Ear</strong></p>
                    <p class="font-weight-bold ">Responsable des achats</p>
                  </div>
                  <p class="text-muted">Fonder ma « Maison des spécialités du Monde », faire qu’elle soit aussi la vôtre,
                    vous y conseiller et vous y servir, confortent mon intime conviction : devenons de
                    véritables artisans d’échanges pluriculturels et ensemble, de fidèles ambassadeurs
                    du goût.</p>
                  <p class="text-muted">À l’instar des quartiers cosmopolites de la planète, A&amp;C offre sous un même toit la
                    possibilité de flâner, de déambuler à volonté dans ses ruelles de rayons semblables
                    à des échoppes exotiques aux enivrants mais subtils parfums...</p>
                  <p class="text-muted mb-4">Ainsi, je vous souhaite quotidiennement : bon appétit, heureuses découvertes
                    culinaires, grandes et nombreuses tablées autour de festins réunissant les maîtres
                    du pluralisme gastronomique!</p>
                  <a href="sommes-nous.html"><button class="btn btn-primary btn-rounded">Plus d’info</button></a>
                </section>
              </div>
            </div>
          </div>
        </div>
        
      </div>

    </div>
    
  </div>
  <!--================ End Description CEO =================-->

  <!--================ Page Footer =================-->
  <div class="page-footer pt-5"> 
  
    <div class="button-back">
        <a type="button" class="btn-floating" data-aos="zoom-in" style="background-color: #F6AD47 !important;"><i class="fas fa-arrow-up" aria-hidden="true"></i></a>
    </div>

    <div class="division" fxHide.lt-md></div>

    <div fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="space-around center">
      <div fxLayout="column" fxLayoutAlign="center center" class="mb-4">
          <div><h5 class="text-uppercase font-weight-bold" style="color: #F6AD47;">ASIAN & CARAÏBES</h5></div> 
          <div class="white-text">58 route de Vannes 44100 Nantes</div> 
          <div class="white-text">Tél : 02 40 89 24 21</div> 
          <div class="white-text">Mail : asianetcaraibes@gmail.com</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" class="mb-4">
          <div><h5 class="text-uppercase font-weight-bold" style="color: #F6AD47;">HORAIRES</h5></div> 
          <div class="white-text">Du Mardi au Vendredi : 10h à 13h / 14h30 à 19h</div> 
          <div class="white-text">Le Samedi : 10h à 19h non stop</div> 
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center py-3 white-text" style="background-color: rgba(77, 75, 75, 0.980);">© 2020 Copyright :
      <a href="#"> <img src="assets/images/common/domory_logo.png" height="23"> </a>
    </div>
    <!-- Copyright -->
  
  </div>   
  <!--================ End Page Footer =================-->


</div>
  