<div class="my-overlay" *ngIf="showOverlay">
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true" style="position: relative;">
    <p class="title-letter" > Chargement... </p>
  </ngx-spinner>
</div>

<div class="scroll-count"  style="position: relative; overflow-x: hidden;">

  <!--================ Image Leaf =================-->
  <div class="card-background-leaf-bottom" data-aos="fade-up">
    <img class="img-leaf-bottom" src="assets/images/pages/card/leaf_bottom.png">
  </div>
  <!--================ End Image Leaf =================-->

  <!--================ Features Carte de Fidelite =================-->
  <div class="container">  

    <!--Section: Content-->
    <section class="magazine-section dark-grey-text mt-lg-5 pt-lg-5 mt-3 pt-3">

      <!-- Section heading -->
      <!--Title Catalog Products-->
      <div class="text-center">
        <h2 class="font-weight-bold">SOIS UNE <span style="color: #F6AD47;">PARTIE DE NOUS</span></h2>
        <div class="webflow d-flex justify-content-center">
          <div class="title-divider"></div>
        </div>
    </div>
      <!--/.Title Catalog Product -->
      <!-- Section description -->
      <p class="text-center w-responsive mx-auto mb-3">Trouvez les avantages et les réductions avec notre Carte de Fidélité.</p>

      <!-- Grid row -->
      <div class="row d-flex justify-content-center">

          <!-- Grid column -->
          <div class="col-lg-6 col-md-10 col-10 col-sm-11 mb-4 wow fadeInLeft slow" style="position: relative;">

            <div class="card-background-leaf-corner" data-aos="fade-up-left">
              <img class="img-leaf-top" src="assets/images/pages/card/leaf_corner.png">
            </div>

            <!-- Featured news -->
            <div class="single-news">

                <!-- Image -->
                <div class="view overlay rounded mb-4 d-flex justify-content-center" >
                    
                    <img class="img-fluid" src="assets/images/pages/card/store.png" alt="Sample image">
                    <a><div class="mask rgba-white-slight"></div></a>
                </div>

                <!-- Data -->
                <div class="news-data d-flex justify-content-between">
                <a href="#!">
                    <h6 class="font-weight-bold" style="color: black;"><i class="fas pr-2"><img src="assets/images/pages/card/bag_icon.png" height="17" alt="mail icon"></i>Achats</h6>
                </a>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center">
                  <h3 class="font-weight-bold mb-3"><a>CUMUL DE POINTS</a></h3>
                  <div class="d-flex justify-content-center ml-3">
                    <div class="card-divider d-none d-lg-block"></div>
                  </div>
                </div>
                                    
                Chaque fois que vous effectuez un achat sur Asian et Caraibes vous obtiendrez des points, visibles sur le ticket de caisse.

                <div class="d-flex justify-content-center">
                  <div class="card-divider-mobile d-block d-lg-none"></div>
                </div>
            </div>
            <!-- Featured news -->

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-6 col-md-6 col-6 mb-4 pt-lg-2">

            <!-- Small news -->
            <div class="single-news mb-4 wow fadeInRight slow">

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-lg-5">

                  <!-- Featured image -->
                  <div class="view overlay rounded mb-lg-0 mb-4">
                    <img class="img-fluid" src="assets/images/pages/card/cheque_cadeau.png" alt="Sample image">
                    <a><div class="mask rgba-white-slight"></div></a>
                  </div>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-7">

                  <!-- Category -->
                  <a href="#!">
                    <h6 class="font-weight-bold mb-2" style="color: black;"><i class="fas pr-2"><img src="assets/images/pages/card/gift_icon.png" height="17" alt="mail icon"></i>  Surprises</h6>
                  </a>
                  <!-- Post title -->
                  <h4 class="font-weight-bold mb-3"><strong>CHEQUE CADEAU</strong></h4>
                  <!-- Excerpt -->
                  Cumulez 5000 points pour un chèque-cadeau d’une valeur de 15€.
                  <!-- Post data -->
                  <div class="d-flex justify-content-center">
                    <div class="card-divider d-none d-lg-block"></div>
                  </div>
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

            </div>
            <!-- Small news -->

            <!-- Small news -->
            <div class="single-news mb-4 d-none pl-2 d-lg-block wow flipInX slow delay-1s">

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-12 col-12">

                  <!-- Excerpt -->
                  <p class="font-weight-bold"><i class="fas fa-circle fa-xs" style="color: #F6AD47;"></i>  <strong>DOUBLE DE POINTS</strong></p>
                  <div class="d-flex justify-content-between">
                    <div class="col-11 pl-2 mb-3">
                      <a href="#!" class="dark-grey-text">En période Anniversaire du magasin du 15 Fevrier au 15 Avril.</a>
                    </div>
                  </div>
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

            </div>
            <!-- Small news -->

            <!-- Small news -->
            <div class="single-news mb-4 pl-2 d-none d-lg-block wow flipInX slow delay-1s">

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-12">

                  <!-- Excerpt -->
                  <p class="font-weight-bold dark-grey-text"><i class="fas fa-circle fa-xs" style="color: #F6AD47;"></i>  PLUS DE POINTS CHAQUE ANNÉE</p>
                  <div class="d-flex justify-content-between">
                    <div class="col-11 pl-2 mb-3">
                      <a href="#!" class="dark-grey-text">La valeur augmente en fonction de l’année anniversaire du magasin.</a>
                    </div>
                  </div>

                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

            </div>
            <!-- Small news -->
            

          </div>
          <!--Grid column-->

          <div class="col-lg-5 col-md-5 col-5 mb-4 d-block d-lg-none ">

            <!-- Small news -->
            <div class="single-news mb-4 wow flipInX slow delay-1s">

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-12">

                  <!-- Excerpt -->
                  <p class="font-weight-bold dark-grey-text"><i class="fas fa-circle fa-xs" style="color: #F6AD47;"></i>  Double de points</p>
                  <div class="d-flex justify-content-between">
                    <div class="col-12 pl-0 mb-1">
                      <a href="#!" class="dark-grey-text">En période Anniversaire du magasin du 15 Fevrier au 15 Avril.</a>
                    </div>
                  </div>

                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

            </div>
            <!-- Small news -->

            <!-- Small news -->
            <div class="single-news mb-4 wow flipInX slow delay-1s">

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-12">

                  <!-- Excerpt -->
                  <p class="font-weight-bold dark-grey-text"><i class="fas fa-circle fa-xs" style="color: #F6AD47;"></i>  Plus de points chaque année</p>
                  <div class="d-flex justify-content-between">
                    <div class="col-12 pl-0">
                      <a href="#!" class="dark-grey-text">La valeur augmente en fonction de l’année anniversaire du magasin.</a>
                    </div>
                  </div>

                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

            </div>
            <!-- Small news -->

          </div>

      </div>
      <!-- Grid row -->

    </section>
    <!--Section: Content-->

      <div class="container pb-lg-5 pt-4"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign="space-between center"
        fxLayoutGap="10px">

        <div fxFlex="52">
          <!--Form with header-->
          <mdb-card-body class="ml-lg-3 mr-lg-3 mt-lg-4 mt-3">
            <!--Header-->
            <div class="form-header rounded-pill mb-n1" style="background:#F6AD47!important;">
              <h3 class="mt-2 font-weight-bold"><i class="fas"><img src="assets/images/common/mail_icon.png" alt="Contact Formulaire"></i><span style="color: black;"> FORMULAIRE POUR LA </span> CARTE DE FIDÉLITE</h3>
            </div> 

            <!--Body-->
            <div class="md-form mb-n2">
              <i class="fas prefix grey-text"><img src="assets/images/common/user_icon.png" alt="user icon"></i>
              <input mdbInput type="text" id="form-name" class="form-control">
              <label for="form-name">Prénom et Nom</label>
            </div>

            <div class="md-form mb-n2">
              <i class="fas prefix grey-text"><img src="assets/images/common/mail_icon_hover.png" alt="mail icon"></i>
              <input mdbInput type="text" id="form-email" class="form-control">
              <label for="form-email">Email</label>
            </div>

            <div class="md-form mb-n2">
              <i class="fas prefix grey-text"><img src="assets/images/common/phone_icon_hover.png" alt="teléphone icon"></i>
              <input mdbInput type="number" id="form-telephone" class="form-control">
              <label for="form-name">Teléphone</label>
            </div>

            <div class="md-form mb-n2">
              <i class="fas prefix grey-text"><img src="assets/images/common/map_icon_hover.png" alt="Adresse icon"></i>
              <input mdbInput type="text" id="form-adresse" class="form-control">
              <label for="form-email">Adresse</label>
            </div>

            <!-- Grid row -->
            <div class="row mb-n2">
  
              <!-- Grid column -->
              <div class="col-6">
                <div class="md-form">
                  <input mdbInput type="number" id="form-code" class="form-control">
                  <label for="form-name">Code postal</label>
                </div>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-6">
                <div class="md-form">
                  <input mdbInput type="text" id="form-ville" class="form-control">
                  <label for="form-email">Ville</label>
                </div>
              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <div class="md-form mb-n2">
              <div class="text-center">
                <p class="mb-0">Pour les professionnels nous vous demandons de joindre un extrait de Kbis</p>
              </div>
            </div>
            
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-9">
                <form class="md-form mb-0">
                  <div class="file-field"> 
                    <button class="btn btn-primary btn-rounded">
                      <span>Choisir fichier</span>
                      <input type="file" mdbFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
                    </button>
                    <div class="file-path-wrapper">
                      <input class="file-path" type="text" placeholder="Upload your file" [value]="showFiles()">
                    </div>
                  </div>
                </form>
              </div>
              <!-- Grid column -->

              <div class="col-md-3 pt-3 mb-0">
                <div class="text-center">
                  <button mdbBtn id="check_map" (click)="startUpload()" class="rounded-pill waves-light" mdbWavesEffect style="background:black!important;"><span style="color: white;">ENVOYER</span></button>
                </div>
              </div>

            </div>
            <!-- Grid row -->
                
          
          </mdb-card-body>
          <!--Form with header--> 
        </div>
        
        <div fxFlex="35">
          <div class="view overlay zoom d-none d-lg-block z-depth-5">
            <img src="assets/images/pages/card/carte_fidelite_formularie.jpg" class="img-fluid" alt="">
          </div>
        </div>

      </div>        
    
  </div>
  <!--================ End Features Carte de Fidelite =================-->

  <!--================ Page Footer =================-->
  <div class="page-footer pt-5"> 
  
    <div class="button-back">
        <a type="button" class="btn-floating" (click)="onTop()" data-aos="zoom-in" style="background-color: #F6AD47 !important;"><i class="fas fa-arrow-up" aria-hidden="true"></i></a>
    </div>

    <div class="division" fxHide.lt-md></div>

    <div fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="space-around center">
      <div fxLayout="column" fxLayoutAlign="center center" class="mb-4">
          <div><h5 class="text-uppercase font-weight-bold" style="color: #F6AD47;">ASIAN & CARAÏBES</h5></div> 
          <div class="white-text">58 route de Vannes 44100 Nantes</div> 
          <div class="white-text">Tél : 02 40 89 24 21</div> 
          <div class="white-text">Mail : asianetcaraibes@gmail.com</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" class="mb-4">
          <div><h5 class="text-uppercase font-weight-bold" style="color: #F6AD47;">HORAIRES</h5></div> 
          <div class="white-text">Du Mardi au Vendredi : 10h à 13h / 14h30 à 19h</div> 
          <div class="white-text">Le Samedi : 10h à 19h non stop</div> 
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center py-3 white-text" style="background-color: rgba(77, 75, 75, 0.980);">© 2020 Copyright :
      <a href="#"> <img src="assets/images/common/domory_logo.png" height="23"> </a>
    </div>
    <!-- Copyright -->
  
  </div>   
  <!--================ End Page Footer =================-->

</div>